.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  text-align: left;
  padding-left: 20px;
  max-width: 200 px;
  cursor: pointer;
}

.icon{
  width: 20px;
  margin-left: 10px;
}